<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-light tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="User tasks" icon="ion-android-contacts" href="#/main/login" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="System integration" icon="ion-android-desktop" href="#/main/init_process" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>